<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220293550989-933i0ssqol6jhdab36fvd40iue0s9fjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220293550989-933i0ssqol6jhdab36fvd40iue0s9fjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCjyBAROsBfcmIMHKgIq0zfvvO4D90JChk</string>
	<key>GCM_SENDER_ID</key>
	<string>220293550989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdjunayet.studyleveling</string>
	<key>PROJECT_ID</key>
	<string>study-leveling</string>
	<key>STORAGE_BUCKET</key>
	<string>study-leveling.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220293550989:ios:40dff9a04ba2e574d2a3c4</string>
	<key>DATABASE_URL</key>
	<string>https://study-leveling-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
